h2 {
  text-align: center;
  margin-top: 60px;
  color: #333;
}

.friend-title span{
  font-size: 28px; /* 字体大小为28像素 */
  font-weight: bold; /* 字体加粗 */
  color: var(--color-font-1); /* 文本颜色为深灰色 */
  margin-bottom: 10px; /* 底部外边距为10像素 */
}

.friend-title span::after {
  background: var(--color-primary);
  content: "";
  display: block;
  width: 2%; /* 设置短线的宽度 */
  height: .3125rem;
  bottom: -1.0625rem;
  border-bottom: 1px;
  border-radius: .5rem;
  margin: 10px auto; /* 调整短线与文字之间的距离 */
}

/* 基本容器样式 */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* 更改为 flex-start 以实现居左对齐 */
  gap: 1rem; /* 缩小卡片间距，根据需求调整 */

  /* 为了适应一排五个卡片，计算合适的容器宽度 */
  max-width: calc(100% - ((5 - 1) * 2.5rem)); /* 减去（卡片总数 - 1）个间隙 */
  width: calc(100% / 5 * var(--columns, 4.5)); /* 每个卡片宽度加上间隙应等于容器宽度的五分之一 */
  
  margin: 0 auto; /* 保持整个容器居中 */
}

.card {
  position: relative;
  width: calc((100% - ((5 - 1) * 3rem)) / 5); /* 调整卡片宽度 */
  max-width: 270px;
  min-width: 265px; /* 确保最小宽度足够容纳悬停时的内容 */
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem; /* 非悬停状态下的内边距 */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 10px 20px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.card__image-container {
  width: 60px;
  height: 50px; /* 确保宽高一致 */
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #eee;
  margin-right: 0.5rem; 
  transition: width 0.3s ease-out, margin-right 0.3s ease-out;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 70px); /* 根据图像和间距调整计算宽度 */
}

.card__title {
  margin: 0;
  font-size: 1.3rem; /* 减小标题字号 */
  font-weight: bold;
  line-height: 1.5;
  color: #5753C7;
  white-space: normal;
}

.card__description {
  font-size: 0.9rem; /* 减小描述字号 */
  line-height: 1.3; /* 减小行高 */
  color: #666;
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  height: auto;
  max-height: 3.375rem; /* 设置一个初始的最大高度，以限制描述文本显示的行数 */
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.card__hot {
  font-size: 0.8rem; /* 减小热度字号 */
  color: #999;
  margin-top: 0.15rem; /* 减小热度与上一行间的间距 */
}

/* 确保链接能覆盖整个卡片区域并响应点击事件 */
.card a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card:hover {
  background-color: #2d2f41; /* 浅蓝色背景 */
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.card:hover .card__image-container {
  width: 0;
  margin-right: 0;
  opacity: 0; /* 或 visibility: hidden; */
}

.card:hover .card__description {
  max-height: none; /* 在悬停时移除最大高度限制 */
  margin-bottom: 0; /* 如果需要的话，可以在此处调整悬停时与下一项的间距 */
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; /* 默认情况下保持左对齐 */
  width: 100%; /* 修改为100% */
  transition: margin-left 0.3s ease-out;
}

.card:hover .card__info {
  margin-left: 0; /* 图片缩小时的内容左移至最左侧 */
}

a,
/* 其他可能带有下划线的元素选择器 */
.some-class-name {
  text-decoration: none;
}


